

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

	.dropdown-menu li{
		position: relative;
	}
	.dropdown-menu .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.dropdown-menu .submenu-left{ 
		right:100%; left:auto;
	}

	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
}

}	
/* ============ small devices .end// ============ */

body {    
    height: 100%;
    padding: 0;
}

nav {    
    margin-left: 0px;
    width: 100%;    
}

.nav-title {
    font-size: 40px;
}

.nav-title:hover {
    cursor: pointer;
    font-weight: 900;    
}

.container {
    margin: 0;
    padding: 10;
    height: 100%;
}

container-row {
    margin: 0px;        
    padding: 0px;    
}

sidebar {    
    max-height: 380px;
    
}

content {            
    margin: 0px;
    padding: 10px;
    width: 100%;

}

content > models {
    display: none;
}

content > progress {
    display: none;
}

content > result {
    display: none;
}

.btn-menu {
    font-size: 22px;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.btn-models {
    border-radius: 0px;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.btn-stop {
    display: none;
}

.btn-simulate:hover {
    background-color:  rgb(200, 0, 50);
    border-color:  rgb(200, 0, 50);
}

.btn-result:hover {

    background-color:  rgb(0, 150, 100);
    border-color:  rgb(0, 150, 100);
}

label {
    font-size: 17px;
    padding: 1;
}
